In [2]:
!cd

D:\AI_Introduction\week02

In [3]:
# titanic.csv는 Survived가 레이블

import pandas as pd

file_path = "D:/AI_Introduction/week02/dataset/titanic.csv"
df = pd.read_csv(file_path)

In [4]:
#레이블 개수 확인
df["Survived"].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [5]:
# 결측치 확인
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
# 결측치(NaN) 값을 평균으로 채우는 방법
df['Age'].fillna(df['Age'].mean(), inplace = True)
df["Cabin"].fillna("Unknown", inplace=True)

print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex        Age  \
0                              Braund, Mr. Owen Harris    male  22.000000
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.000000
2                               Heikkinen, Miss. Laina  female  26.000000
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.000000
4                             Allen, Mr. William Henry    male  35.000000
..                                                 ...     ...        ...
886                              Montvila, Rev. Juozas    male  27.000000
887                       Graham, Miss. Margaret Edith  female  19.000000
888           Johnston, Miss. Catherine Helen "Carrie"  female  29.699118
889                              Behr, Mr. Karl Howell    male  26.000000
890                                Dooley, Mr. Patrick    male  32.000000

     SibSp  Parch            Ticket     Fare    Cabin Embarked
0        1      0         A/5 21171   7.2500  Unknown        S
1        1      0          PC 17599  71.2833      C85        C
2        0      0  STON/O2. 3101282   7.9250  Unknown        S
3        1      0            113803  53.1000     C123        S
4        0      0            373450   8.0500  Unknown        S
..     ...    ...               ...      ...      ...      ...
886      0      0            211536  13.0000  Unknown        S
887      0      0            112053  30.0000      B42        S
888      1      2        W./C. 6607  23.4500  Unknown        S
889      0      0            111369  30.0000     C148        C
890      0      0            370376   7.7500  Unknown        Q

[891 rows x 12 columns]

C:\Users\Administrator\AppData\Local\Temp\ipykernel_22144\4010179244.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace = True)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_22144\4010179244.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Cabin"].fillna("Unknown", inplace=True)

In [7]:
# 여러 개의 컬럼 삭제
df = df.drop(columns = ['Name','Embarked'])
print(df)

     PassengerId  Survived  Pclass     Sex        Age  SibSp  Parch  \
0              1         0       3    male  22.000000      1      0
1              2         1       1  female  38.000000      1      0
2              3         1       3  female  26.000000      0      0
3              4         1       1  female  35.000000      1      0
4              5         0       3    male  35.000000      0      0
..           ...       ...     ...     ...        ...    ...    ...
886          887         0       2    male  27.000000      0      0
887          888         1       1  female  19.000000      0      0
888          889         0       3  female  29.699118      1      2
889          890         1       1    male  26.000000      0      0
890          891         0       3    male  32.000000      0      0

               Ticket     Fare    Cabin
0           A/5 21171   7.2500  Unknown
1            PC 17599  71.2833      C85
2    STON/O2. 3101282   7.9250  Unknown
3              113803  53.1000     C123
4              373450   8.0500  Unknown
..                ...      ...      ...
886            211536  13.0000  Unknown
887            112053  30.0000      B42
888        W./C. 6607  23.4500  Unknown
889            111369  30.0000     C148
890            370376   7.7500  Unknown

[891 rows x 10 columns]